*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.hprof
app/release/
app/debug/
app/build/
.gradle/
build/
.idea/
*.iml
*.iws
*.ipr
*.hprof
*.log
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
